<!doctype html>
<html>
<head>
	
	<title>Message In A Capsule</title>

	<link rel="stylesheet" href="fonts.css">

    <link rel="stylesheet" href="capsuleAnimation.css">
	<link rel="stylesheet" href="modal.css">
	<link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	{{{body}}}
</body>

</html>